body {
  background-color: #D2B48C;
  color: #000000;
  max-width: 100%;
  font-family: 'roboto';
  font-size: larger;
  padding-top: 20px;
}

header {
  align-items: center;
  margin: 0 auto;
}

#header-image img {
  max-width: 80%;
  height: auto;
}

#header-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  color: #FFFFFF;
  font-family: "Playfair Display";
  margin: 0;
}

p {
  background-color: lightblue;
  padding: 20px;
}

a {
  color: #FFD700;
  text-decoration: none;
}

a:hover {
  color: #FF8C00;
  text-decoration: underline;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}
